<?xml version="1.0" encoding="UTF-8"?>
<suite name="AllTests Suite">
    <test name="AllTestCases">
        <classes>
            <class name="finalProjectTaniaNovosad.HomePageTest"/>
            <class name="finalProjectTaniaNovosad.ForDogsPageTest"/>
            <class name="finalProjectTaniaNovosad.BasketPageTest"/>
        </classes>
    </test>
</suite>